.attachmentType {
    background-color: #25282b !important;
    color: #ffffff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

.attachmentName {
    background-color: #25282b !important;
    color: #ffffff;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}